.feature__component {
  height: 22rem;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.feature__component__image-wrapper {
  width: 7.2rem;
  height: 6.2rem;
  align-content: center;
  justify-content: center;
}

.feature__img {
  height: auto;
  width: 7.2rem;
}

.feature__title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 25px;
  text-wrap: nowrap;
}

.feature__text {
  opacity: 0.6;
  line-height: 25px;
  text-align: center;
}

@media screen and (max-width: 48em) {
  .features__section {
    flex-direction: column;
    gap: 8rem;
  }
}

@media screen and (max-width: 23.5em) {
  .features__section {
    gap: 3rem;
    padding: 8rem 3.2rem 6rem 3.2rem;
  }

  .feature__component {
    height: 25rem;
    margin-bottom: 2rem;
  }
}
